<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My First Django</h1>
    {{name}}<br>

    {# memos 정보가 있으면, for 문을 통해서 출력 #}
    {# 전달받은 내용 출력하기 #}
    {# 11시 40분까지 실습하겠습니다! #}
    {% if memos %}
        {% for memo in memos %}
            <h7>{{memo.id}} {{memo.title}}</h7>
            <p>{{memo.content}}</p>
        {% endfor %}
    {% else %}
        <h3>메모 내용이 없습니다</h3>
    {% endif %}
</body>
</html>